body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
}

.slides-navigation {
    z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next{
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}
.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/previous.png);
}
.slides-navigation a.next{
    right: 20px;
    background-image: url(../img/icons/next.png);
}
.titleMessage {
    position: absolute;
    width:100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}
.titleMessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
    font-weight: 100;
    letter-spacing: 7px;
}
.titleMessage .heading .main {
    font-size: 50px;
}
.titleMessage .heading .sub{
    font-size: 23px;
}
.section{
    padding: 100px 0;
}
.aboutImage{
    max-width: 100%;
}
.skillSection {
    background-color: #2980b9;
    color: #fff;
}
.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}
.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}
.chart .percent {
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}
.chart .percent:after {
    content: '%';
}
.squareItem{
    margin-top: 30px;
    position: relative;
}
.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
}
.squareInnerContainer:before,
.squareInnerContainer:after{
    content: '';
    position:absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}
.squareInnerContainer:before{
    right:0px;
}
.squareInnerContainer:after{
    left: 0px;
}
.squareContent h2{
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #2980b9;

}
.squareContent h3{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}
.copyrightSection{
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}
.copyrightSection p{
    margin: 0;
}
#navigation{
    background-color: #2980b9;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}
#navigation li{
    padding: 0 10px;
    
}
#navigation li a{
    color: #fff;
}
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}
.navbar-toggler-icon{
    background: url(../img/icons/menu.png);
    background-size: 100%;
}
.fixedNav #navigation{
    position: fixed;
    top: 0;
}
.centerdiv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerdiv::a{
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 100px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
}
a i{
    transition: all 0.3s linear;
}
a:hover i{
    transform: scale(1.4);
}
.contactSection {
    --color-bright: #f2f1c6;
  --color-orange: #FF6138;
  --body-background-color: #2c3135;
  
  background: var(--body-background-color);
    color: #fff;
}
.contact {
    text-align: center;
    margin-left: 10px;
    
}

#intro {
  color: var(--color-bright);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}

html, body, #contact-info {
  width:100%;
  height:100%;
}

#contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-info .links {
  display: flex;
  min-width: 500px;
  justify-content: space-between;
}

#contact-info a {
  text-decoration: none;
  color: var(--color-bright);
  font-size: 2rem;
}



/* ****************** */
/* PREVENTING FLICKERING ON HOVER BECAUSE OF ROTATING AND SKEW TRANSFORMATIONS*/
#contact-info .links a {
  display: block;
  position: relative;
}
#contact-info .links a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  transition: all .3s;
}
#contact-info .links a:hover::after {
  /* transform: rotate(35deg) skew(-20deg); */
  --transformed-box-diagonal-length: 164%;
  width: var(--transformed-box-diagonal-length);
  left: calc( (100% - var(--transformed-box-diagonal-length)) / 2 );
}
/* ****************** */


#contact-info .links a div {
  position: relative;
  display: block;
  width: 55px; 
  height: 55px;
  transition: transform .3s;
}


#contact-info .links a:hover div {
  transform: rotate(-35deg) skew(20deg);
}

.links a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  /* transition-property: opacity, transform;
  transition-duration: 0.5s; */
  border: 1px solid var(--color-bright);
  /* border-color: var(--color-bright); */
  border-radius: 5px;
}

.links a span:nth-child(5) {
  display: flex; 
  justify-content: center;
  align-items: center;

  position: relative;
  /* border-color: var(--color-bright); */
}

.links a:hover span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;

}
.links a:hover span:nth-child(4) {
  transform: translate(15px, -15px);
  opacity: .8;
}
.links a:hover span:nth-child(3) {
  transform: translate(10px, -10px);
  opacity: .6;
}
.links a:hover span:nth-child(2) {
  transform: translate(5px, -5px);
  opacity: .4;
}
.links a:hover span:nth-child(1) {
  opacity: .2;
}

/* orange background spans */
.links a.orange-background span {
  background: var(--color-orange);
  border-color: var(--color-bright);
}
.links a.orange-background span:nth-child(5) {
  background: var(--body-background-color);
}


/* orange shadow */
.links a.orange-shadow:hover span {
  box-shadow: -1px 1px 3px var(--color-orange);
}

/* orange border  */
.links a.orange-border span {
  border-color: var(--color-orange);
}
.links a.orange-border span:nth-child(5) {
  border-color: var(--color-bright);
}

